#FoodItem{
    width: 600px;
    height: 310px;
    border: 5px solid rgb(231, 56, 56);
    background-color: rgb(231, 56, 56);
    padding: 10px;
    margin: 20px;
    text-align: left;
}

#fifirst, #fisecond, #fithird{
    float: left;
}

.fooditemfont{
    font-size: 24px;
}
#fifirst {
    width: 250px;
    text-align: center;
}

#fisecond {
    width: 150px;
    font-size: 15px;
}

#fithird {
    width: 125px;
}
#fiforth {
    width: 125px;
}

#ItemPriceIcon {
    float:left;
    padding-top: 25px;
    padding-right: 10px;
}

#ItemPrice {
    overflow:hidden;
}

#RestaurantIcon {
    float:left;
    padding-top: 25px;
    padding-right: 10px;
}

#RestaurantName {
    overflow:hidden;
}

#LocationIcon {
    float:left;
    padding-top: 25px;
    padding-right: 10px;
}

#LocationName {
    overflow:hidden;
}

#CaloriesIcon {
    float:left;
    padding-top: 25px;
    padding-right: 10px;
}

#CaloriesAmount {
    overflow:hidden;
}

#foodpic {
    width: 200px;
    height: auto;
}
