#SearchCriteria {
    width: 200px;
    padding: 5px;
    margin: 10px;
    text-align: left;
    font-size: 15px;
}

select {
    width: 200px;
}

svg {
    height: 30px;
    width: auto;
    color: #ffcc00;
}

p {
    height: 100px;
}

#first {
    float:left;
    padding: 5px;
}

#second {
    overflow: hidden;
}