#SearchCriteria {
    width: 200px;
    padding: 5px;
    margin: 10px;
    text-align: center;
}

select {
    width: 200px;
}

svg {
    height: 30px;
    width: auto;
    color: #ffcc00;
}

#first {
    float:left;
    padding: 5px;
}

#second {
    overflow: hidden;
}